

@foreach(var item in Model){
 <h1>Student Name: @item.Name </h1>
<h1>Student Id: @item.Id </h1>
<h1>Student Address: @item.Address </h1>
<img src="\Images\@item.Image" style="width:100px;height:auto" />
}