@using Day3.ViewModel
@model List<StudentsWithCoursesViewModel>

<table class="table table-dark">
        <thead>
    <tr>
        <th>Student Name </th>
        <th>Course Name </th>
    </tr>
    </thead>
    <tbody>
        
@foreach(var item in Model)
{
    <tr>
                <td><h1> @item.StudentName.Name</h1></td>
                <td> <h1> @item.CourseName.Name</h1></td>
    </tr>
}
    </tbody>
</table>

