@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://t.com/aspnet/core">Feel Free To Click!</a>.</p>
</div>
<div class="newsletter-button d-flex">

    <a asp-action="Add" asp-controller="Department" class="btn btn-pill">Add department</a>
@*<form>
    <label>aa</label>
    <input />
        <input type="submit" class="btn-hvr-effects" />
        <button class="btn btn-dark rounded-pill m-0">ss</button>
</form>*@
</div>