@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="newsletter-button d-flex">
<form>
    <label>aa</label>
    <input />
        <input type="submit" class="btn-hvr-effects" />
        <button class="btn btn-dark rounded-pill m-0">ss</button>
</form>
</div>