@model Employee

<form asp-action="Save">
    <div asp-validation-summary="All"></div>
    <label asp-for="Id"></label>
    <input asp-for="Id" />
   
    <label asp-for="Name"></label>
    <input asp-for="Name" />
    <button type="submit">Save</button>
</form>