
@model Employee


<form asp-action="SaveEdit" >
    <div asp-validation-summary="All" style="color:red"></div>

    <label asp-for="Id" class="control-label"></label>
    <input asp-for="Id" class="form-control"/>
    <span asp-validation-for="Id" style="color:red"></span>

    <label asp-for="Name" class="control-label"></label>
    <input asp-for="Name" class="form-control"/>
    <span asp-validation-for="Name" style="color:red"></span>

    <label asp-for="City" class="control-label"></label>
    <input asp-for="City" class="form-control"/>
    <span asp-validation-for="City" style="color:red"></span>

    <button type="submit">Save</button>
</form>

@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}