@model Department

<form asp-action="Save">
    <label asp-for="Id"></label>
    <input asp-for="Id">
    
    <label asp-for="Name"></label>
    <input asp-for="Name">
    <input type="submit" />
</form>