@model Player
<form class="form-control" action="SaveNewPlayer">
    <div>
        <label asp-for="Id" class="control-label">Id</label>
        <input asp-for="Id" type="number" name="Id" id="Id" class="form-control" readonly/>
    </div>
    <div>
        <label asp-for="Name" class="control-label">Name</label>
        <input asp-for="Name" type="text" name="Name" id="Name" class="form-control" />
    </div>
    <div>
        <label asp-for="Age" class="control-label">Age</label>
        <input asp-for="Age" type="number" name="Age" id="Age" class="form-control" />
    </div>
    <div> 
        <label asp-for="FC" class="control-label"></label>
        <select asp-for="FC" asp-items="@(new SelectList(ViewBag.FC,"Id","Name"))" class="form-control">
            <option value="">
                Select Department
            </option>
        </select>
    </div>
    
    <input type="submit" value="save" class="btn btn-primary" />
</form>