
@model Player

<form asp-action="SaveUpdates">
    <div>
        <label asp-for="Id" class="control-label">Id</label>
        <input asp-for="Id"class="form-control" readonly/>
    </div>
    <div>
        <label asp-for="Name" class="control-label">Name</label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div>
        <label asp-for="Age" class="control-label">Age</label>
        <input asp-for="Age" class="form-control" />
    </div>
    <div> 
        <label asp-for="FC" class="form-control">FC</label>
        <select asp-for="FC" asp-items="@(new SelectList(ViewBag.FC,"Id","Name"))" class="form-control">
            <option value="">
                Select Department
            </option>
        </select>
    </div>
    
    <input type="submit" value="save" class="btn btn-primary" />
</form>
