@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<a asp-controller="Student" asp-action="Add" class="btn btn-primary">Add</a>
<a asp-controller="Student" asp-action="All" class="btn btn-primary">All</a>
<a asp-controller="Department" asp-action="All" class="btn btn-secondary">All Departments</a>
<a asp-controller="Department" asp-action="Add" class="btn btn-dark">Add Department</a>