@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<a asp-controller="Employee" asp-action="All" class="btn btn-primary">All</a>
<a asp-controller="Employee" asp-action="Add" class="btn btn-primary">Add</a>
<a asp-controller="Employee" asp-action="Auth" class="btn btn-primary">Authorize ?</a>
<a asp-controller="Registration" asp-action="Register" class="btn btn-primary">Register</a>

