@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<a asp-controller="Employee" asp-action="All" class="btn btn-primary">All</a>
<a asp-controller="Employee" asp-action="Add" class="btn btn-primary">Add</a>
<a asp-controller="Employee" asp-action="Auth" class="btn btn-primary">Authorize ?</a>
<a asp-controller="Registration" asp-action="Register" class="btn btn-primary">Register</a>
<a asp-controller="Registration" asp-action="Login" class="btn btn-primary">Login</a>
<a asp-controller="Registration" asp-action="Logout" class="btn btn-primary">Logout</a>
<a asp-controller="Role" asp-action="Add" class="btn btn-dark">Add Role</a>
<a asp-controller="Role" asp-action="All" class="btn btn-warning">All Roles</a>
<a asp-controller="Registration" asp-action="AddAdmin" class="btn btn-warning">Add Admin</a>


