
@model Employee
@{
    if (Model != null)
    {
        ViewData["Title"] = "Update";
    }
    else
    {
        ViewData["Title"] = "Add";
    }
}
<title>@ViewData["Title"]</title>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CodePen - Responsive Contact Form</title>
    <link rel='stylesheet' href='https://codepen.io/uzcho_/pen/RmOWmw.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css'>
    <link rel="stylesheet" href="~/css/AddForm.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

</head>
<body>

    @{
        SelectList items;
        if(Model != null)
        {
                items = new
               SelectList(ViewBag.Departments, "Id", "Name",Model.DepartmentId);
        }
        else
        {
             items = new
            SelectList(ViewBag.Departments, "Id", "Name");
        }
    }
    
    <h1>@ViewData["Title"] Employee!</h1>
    <hr />

    <!-- partial:index.partial.html -->
    <div class="container">
        <form asp-action="@ViewData["Title"]">

            <div asp-validation-summary="All" style="color:red"></div>

            <div class="field" tabindex="1">
                <label asp-for="Id">
                </label>
                <input asp-for="Id" placeholder="Unique Value"/>
                <span asp-validation-for="Id" style="color:red"></span>
            </div>

            <div class="field" tabindex="2">
                <label asp-for="Name">
                    <i class="far fa-user"></i>Employee Name
                </label>
                <input asp-for="Name" placeholder="e.g. Abdelrhman Mohamed" >
                <span asp-validation-for="Name" style="color:red"></span>
            </div>

            <div class="field" tabindex="3">
                <label asp-for="Title">
                    
                </label>
                <input asp-for="Title" placeholder="Full Stack .Net Developer" >
                <span asp-validation-for="Title" style="color:red"></span>
            </div>

            <div class="field" tabindex="4">
                <label asp-for="Gender">
                </label>
                <input asp-for="Gender" placeholder="type here" ></>
                <span asp-validation-for="Gender" style="color:red"></span>
            </div>

            <div class="field" tabindex="5">
                <label asp-for="Birthdate"></label>
                <input asp-for="Birthdate" />
                <span asp-validation-for="Birthdate" style="color:red"></span>
            </div>

            <div class="field" tabindex="6">
                <label asp-for="GrossSalary">
                </label>
                <input asp-for="GrossSalary" placeholder="type here" ></>
                <span asp-validation-for="GrossSalary" style="color:red"></span>
            </div>

            <div class="field" tabindex="7">
                <label asp-for="NetSalary">
                </label>
                <input asp-for="NetSalary" placeholder="type here" ></>
                <span asp-validation-for="NetSalary" style="color:red"></span>
            </div>

            <div class="field" tabindex="8">
                <label asp-for="Country">
                </label>
                <input asp-for="Country" id="countryInput" placeholder="Your current country of residence"></>
                <span asp-validation-for="Country" style="color:red"></span>
            </div>

            <div class="field" tabindex="9">
                <label asp-for="City">
                </label>
                <input asp-for="City" id="cityInput" placeholder="City In "></>
                <span asp-validation-for="City" style="color:red"></span>
            </div>

            <div class="field" tabindex="10">
                <label asp-for="DepartmentId">
                </label>
               
                <select asp-for="DepartmentId" asp-items="items">
                    @{
                        if (Model == null)
                        {
                            <option disabled selected hidden>Select-Department</option>
                        }
                    }
                </select>
                <span asp-validation-for="DepartmentId" style="color:red"></span>
            </div>

            <div class="field" tabindex="11">
                <label asp-for="YearsOfExperince">
                </label>
                <input asp-for="YearsOfExperince" placeholder="type here"></>
                <span asp-validation-for="YearsOfExperince" style="color:red"></span>
            </div>

            <div class="field" tabindex="12">
                <label asp-for="TaskId">
                </label>
                <input asp-for="TaskId" placeholder="Got Any Tasks?"></>
                <span asp-validation-for="TaskId" style="color:red"></span>
            </div>

            <button type="submit">@ViewData["Title"] Employee</button>
            <div class="Pages">
            
                <span>
                    Back To <i class="fas fa-long-arrow-alt-right"></i>
                </span>
                <a class="fab fa-facebook-f" href="https://facebook.com/uzcho" target="blank_">Home</a>
                <a class="fab fa-twitter" href="https://twitter.com/uzcho_" target="blank_"></a>
                <a class="fab fa-instagram" href="https://www.instagram.com/uzcho_" target="blank_"></a>
                <a class="fab fa-codepen" href="https://codepen.io/uzcho_" target="blank_"></a>
            </div>
        </form>
    </div>

  
</body>
</html>
<script>// Get Country Name in City Placeholder 

    // Get the input elements
    const countryInput = document.getElementById('countryInput');
    const cityInput = document.getElementById('cityInput');

    // Add an event listener to the country input
    countryInput.addEventListener('input', updateCityPlaceholder);

    // Function to update the city input placeholder
    function updateCityPlaceholder() {
        const country = countryInput.value;
        cityInput.placeholder = `City in ${country}`;
    }
</script>

@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}