@model ProjectTask

<link rel="stylesheet" href="~/css/AddForm.css">
@{
    SelectList LeadersList;
    SelectList EmployeesList;
    int id = Model.Id;//bugs here
    if (id !>=0)
    {
        ViewData["Title"] = "Add";
        EmployeesList = new(ViewBag.Employees, "Id", "Name");
        LeadersList = new(ViewBag.Employees, "Id", "Name");
    }
    else
    {
        ViewData["Title"] = "Edit";
        EmployeesList = new SelectList(ViewBag.Employees, "Id", "Name",Model.Employees);
        LeadersList = new SelectList(ViewBag.Employees, "Id", "Name",Model.TaskLeader);
    }
    
}
<title>@ViewData["Title"]</title>
<form  asp-action=@ViewData["Title"]>

    <div class="field">
        <label asp-for="Id"></label>
        <input asp-for="Id" placeholder="unique Value"/>
        <span asp-validation-for="Id"></span>
    </div>

    <div class="field">
        <label asp-for="Name"></label>
        <input asp-for="Name" placeholder="Task Name"/>
        <span asp-validation-for="Name" style="color:red"></span>
    </div>
    
    <div class="field">
        <label asp-for="Description"></label>
        <input asp-for="Description" placeholder="Enter description (max 500 characters)" />
        <span asp-validation-for="Description" style="color:red"></span>
    </div>

    <div class="field">
        <label asp-for="Employees"></label>
        <select asp-for="Employees" asp-items="EmployeesList"></select>
        <span asp-validation-for="Employees" style="color:red"></span>
    </div>

    <div class="field">
        <label asp-for="TaskLeader"></label>
        <select asp-for="TaskLeader" asp-items="LeadersList"></select>
        <span asp-validation-for="TaskLeader" style="color:red"></span>
    </div>

    <div class="field">
        <label asp-for="CreatedAt"></label>
        <input asp-for="CreatedAt" />
        <span asp-validation-for="CreatedAt" style="color:red"></span>
    </div>

    <div class="field">
        <label asp-for="DueDate"></label>
        <input asp-for="DueDate" />
        <span asp-validation-for="DueDate" style="color :red"></span>
    </div>

    <div class="field">
        <label asp-for="Priority"></label>
        <input asp-for="Priority" />
        <span asp-validation-for="Priority" style="color:red"></span>
    </div>

    <div class="field">
        <label asp-for="IsCompleted"></label>
        <input asp-for="IsCompleted" />
        <span asp-validation-for="IsCompleted" style="color:red"></span>
    </div>
    <button type="submit">Add Task</button>
</form>