@model Player

<form asp-action="SaveNewPlayer">
    <label for="Id" class="form-control-plaintext">Id</label>
    <input asp-for="Id" class="form-control" />
    <label for="Name" class="form-control-plaintext">Name</label>
    <input asp-for="Name" class="form-control" />

    <select asp-for="FC" class="form-control"> 
        <option selected>Select-FC</option>
        @foreach(var item in ViewBag.FC)
        {
            <option value="@item.Id">@item.Name</option>
        }
    </select>




    <input type="submit" class="btn btn-success" />
</form>