@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<a href="Home/AddPlayer" class="btn btn-primary">Add Player</a>
<a href="Home/AllPlayers" class="btn btn-info">All Players</a>
<a href="Home/EditPlayer/2" class="btn btn-secondary"> Edit Player</a>
